#navbarTopMenu {
    height: 70px;
    background: #30595f;
    background: linear-gradient(49deg, #30595f 0%, #0b1922 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#002b29",endColorstr="#005147",GradientType=1);
}

.logo {
    height:50px;
}

.credit-balance {
    border: 1px solid;
    padding: 5px;
    border-radius: 25px;
    cursor: default;
    width: 100px;
    text-align: center;
    white-space: nowrap;
    text-overflow: clip;
    overflow: hidden;
    font-family: Mitr!important;
}