body {
  /* background-image: url('../images/bg/BG.png'); */
  /* background-repeat: no-repeat; */
  /* background-color: #fff; */
  background: #48696e;
  width: 100%;
  margin: 0px;
  padding: 0px;
  text-align: -webkit-center;
  color: #000;
  font-family: "Mitr", sans-serif;
  /* font-family: "NotoSansThai", sans-serif !important; */
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0px !important;
  margin: 0px !important;
}
.divMainBurger {
  position: absolute;
  top: 8px;
  left: 16px;
  display: inline-block;
  cursor: pointer;
  z-index: 30;
}
.bar1,
.bar2,
.bar3 {
  width: 40px;
  height: 4px;
  background-color: #fff;
  margin: 8px 0;
  transition: 0.4s;
  border-radius: 16px;
}

.change1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-11px, 4px);
}

.change2 {
  opacity: 0;
}

.change3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-12px, -6px);
}
.hidden {
  display: none;
}

.menuM {
  background-color: rgba(0, 0, 0, 0.9);
  width: fit-content;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  color: #fff;
  text-align: left;
}
.overlayMenu {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9;
}

ul {
  font-size: 1.4em;
  list-style-type: none;
  margin: 56px 0px;
  padding: 8px;
  overflow: hidden;
}

span {
  padding: 8px;
}

li {
  /* float: left; */
}

li a {
  display: block;
  color: #fff;
  text-align: left;
  padding: 16px 32px;
  text-decoration: none;
}

li a:hover:not(.active) {
  color: #fff;
}
