.marquee {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
  }
  
  .marquee span {
    display: inline-block;
    padding-left: 100%;
    will-change: transform;
    /* show the marquee just outside the paragraph */
    animation: marquee 30s linear infinite;
  }
  
  .marquee span:hover {
    animation-play-state: paused
  }
  
  
  /* Make it move */
  
  @keyframes marquee {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
  }
  
  
  /* Respect user preferences about animations */
  
  @media (prefers-reduced-motion: reduce) {
    .marquee { 
      white-space: normal 
    }
    .marquee span {
      animation: none;
      padding-left: 0;
    }
  }