#rate {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}

#rate td {
  /* border: none; */
  padding: 8px 16px;
}
#rate th {
  border-left: 1px solid #01ccae;
  border-right: 1px solid #01ccae;
  padding: 8px 16px;
}

#rate tr:nth-child(even) {
  background-color: #696363;
}

#rate tr:hover {
  background-color: #ddd;
}

#rate th {
  background-color: #00bfa1;
  color: white;
}

#resultLt {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#resultLt td,
#resultLt th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#resultLt tr:nth-child(even) {
  background-color: #f2f2f2;
}

#resultLt tr:hover {
  background-color: #ddd;
}

#resultLt th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  font-weight: 100;
  font-size: 1.1em;
  background-color: #fff;
}
